<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>mt-app</span>
    </mat-toolbar>
    <!-- Main Content goes here -->
    <main>
      <!-- <app-ng-address-form></app-ng-address-form> -->
      <!-- <app-ng-table></app-ng-table> -->
      <!-- <app-ng-dashboard></app-ng-dashboard> -->
      <!-- <app-ng-tree></app-ng-tree> -->
      <!-- <app-ng-drag-drop></app-ng-drag-drop> -->
      <!-- <tel-form-field></tel-form-field> -->
      <!-- <text-form-field label="First Name"></text-form-field> -->
      <!-- <text-form-field label="Last Name"></text-form-field> -->
      <!-- <autocomplete-plain-input></autocomplete-plain-input> -->
      <!-- <bottom-sheet-overview></bottom-sheet-overview> -->
      <!-- <button-overview></button-overview> -->
      <!-- <button-toggle-appearance></button-toggle-appearance> -->
      <!-- <button-toggle-exclusive-selection></button-toggle-exclusive-selection> -->
      <!-- <button-toggle-form-selection></button-toggle-form-selection> -->
      <card-overview></card-overview>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
